{{!--
------------------------------------------------------------
userSchema requirements
------------------------------------------------------------
1. username: { type: String, required: true, unique: true },
2. email: { type: String, required: true, unique: true },
3. password: { type: String, required: true }
------------------------------------------------------------
--}}

<div class="join-page container">
  <h1>join kahani!</h1>
  <p>or <a href="/login">log in if you already have an account</a></p>


  {{> flash_messages}}

  <form class="form-page" action="/process-join" method="POST">
    <label class="form-field">
      Username
      <input style="font-size:3vh;" type="text" name="username" placeholder="jimmybuckets23" required />
    </label>
    <label class="form-field">
      Email
      <input style="font-size:3vh;" class="email" type="email" name="email" placeholder="jb23@gmail.com" required />
    </label>
    <label class="form-field">
      Password
      <input style="font-size:3vh;" type="password" name="originalPassword"
        placeholder="the most important decision you'll ever make" required />
    </label>

    <button>create account</button>
  </form>
</div>