<h1 id="join-title">Join</h1>
{{> flash_messages}}

<div id="join-form">
  <form action="/process-join" method="POST">
    <div class="form-group">
      <label for="inputUsername">Username</label>
      <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="inputEmail">Email address</label>
      <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="inputPassword">Password</label>
      <input type="password" name="originalPassword" class="form-control" id="inputPassword" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>