<div class="login-page container">
  <h1>log in to kahani!</h1>
  <p>or <a href="/join">create an account</a></p>

  {{> flash_messages}}

  <form class="form-page" action="/process-login" method="POST">
    <label class="form-field">
      Username
      <input style="font-size:3vh;" type="text" name="username" required />
    </label>
    <label class="form-field">
      Password
      <input style="font-size:3vh;" type="password" name="originalPassword" required>
    </label>

    <button>log in</button>
  </form>
</div>