<form method="post" action="/process-login">
  <label>
    username:
    <input type="String" name="username" required />
  </label>
  <label>
    password:
    <input type="String" name="password" required>
  </label>

  <button>log in</button>
</form>