<div id="map"></div>

<script>
  if ("geolocation" in navigator) {
    console.log("GEOLOC OK");
  } else {
    console.log("GEOLOC NOT OK");
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo80DGqCfxUhFzGtIHuMi-k4PNbd65FLw&callback=initMap" async
  defer></script>