<h2>under construction!</h2>
<p>this page should show all challenges that are available to a user (metro, history, museums, parks, bars, etc.)</p>
<p>users should have the ability to:
  <ul>
    <li>begin a challenge</li>
    <li>add a challenge to their queue</li>
  </ul>
</p>