<div class="container landing-page landing-page-background">

  <h1 id="tagline">explore the stories around you.</h1>

  <div class="join-bait">
    <section class="homepage-form-container">
      <div class="homepage-signup">
        <h2>sign up today!</h2>
        {{!-- </div>
      <div> --}}
        <form class="homepage-form" action="/process-join" method="POST">
          <label class="form-field">
            Username
            <input style="font-size:3vh;" type="text" name="username" placeholder="jimmybuckets23" required />
          </label>
          <label class="form-field">
            Email
            <input style="font-size:3vh;" class="email" type="email" name="email" placeholder="jb23@gmail.com"
              required />
          </label>
          <label class="form-field">
            Password
            <input style="font-size:3vh;" type="password" name="originalPassword"
              placeholder="the most important decision you'll ever make" required />
          </label>

          <button>create account</button>
        </form>
      </div>
    </section>

    <section class="screenshots">
      <div class="image-holder">
        <img src="../images/metros.png">
        <img src="../images/user-success.png">
      </div>
    </section>
  </div>
</div>