{{> flash_messages}}

{{!-- <a href="/"><img src="../images/kahani_logo.png" /> </a> --}}
<div class="container">
  <!-- Title & description -->
  <div class="row justify-content-center">
    <div class="col myHeader" id="title">
      {{!-- <h1 class="display-1 text-center">Kahani</h1> --}}
      <a href="/"><img src="../images/kahani-logo-white.png" class="myLogo" /> </a>
      <h1 id='tagline' class="lead text-center">Explore, collect & challenge.
      </h1>
      {{#if currentUser}}
      <p class="text-center">Welcome back, {{currentUser.username}}.</p>
      {{else}}
      <p class="text-center">NEW? <a class="btn btn-lg" href="/join" role="button" data-toggle="modal"
          data-target="#joinModal">Join</a> ALREADY A USER?
        <a class="btn btn-lg" href="/login" role="button" data-toggle="modal" data-target="#loginModal">Log
          In</a>
      </p>
      {{/if}}
    </div>
  </div>
  <!-- List all challenges available + nb of current registered players (TBD) -->
  <div class="row justify-content-center card-deck">
    <a href="/browse" class="card" id="metro-challenge">
      <img src="images/metro-challenge.png" class="card-img-top" alt="challenge1-img">
      <div class="card-body">
        <h5 class="card-title">Metro Stations</h5>
        <p class="card-text">Be the first to collect all metro stations in Paris.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Currently 19 players</small>
      </div>
    </a>
    <a href="#" class="card">
      <img src="images/sepia.png" class="card-img-top" alt="challenge2-img">
      <div class="card-body">
        <h5 class="card-title">Challenge #2</h5>
        <p class="card-text">Discover all street commemorative plaques from 1939-1945.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Currently 7 players</small>
      </div>
    </a>
    <a href="#" class="card">
      <img src="images/outline.png" class="card-img-top" alt="challenge3-img">
      <div class="card-body">
        <h5 class="card-title">Challenge #3</h5>
        <p class="card-text">Find hidden messages placed around the capital.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Currently 0 players</small>
      </div>
    </a>
  </div>

  {{#if currentUser}}
  <div class="row justify-content-center">
    <a href="/logout">Log Out</a>
  </div>
  {{/if}}
</div>

<!-- Join Modal -->
<div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="joinModalLabel">Create a new user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/process-join" method="POST">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="inputEmail">Email address</label>
            <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="originalPassword" class="form-control" id="inputPassword"
              placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Join</button>
      </div>
    </div>
  </div>
</div>

<!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <form action="/process-login" method="POST">
          <div class="form-group">
            <label for="inputUsername">Username</label>
            <input type="text" name="username" class="form-control" id="inputUsername" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="inputPassword">Password</label>
            <input type="password" name="originalPassword" class="form-control" id="inputPassword"
              placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Log In</button>
      </div>
    </div>
  </div>
</div>