html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px "Cairo", sans-serif;
  background: #c94b4b; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #4b134f,
    #c94b4b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

a,
a:hover {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}

/* HOME PAGE */

.container {
  padding: 20px 120px;
}

#title {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.7);
}

.card-deck {
  margin-bottom: 20px;
}

.card {
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 5px 5px 15px 1px rgba(0, 0, 0, 0.2);
  color: white;
}

.card h5 {
  font-size: 1em;
  margin-bottom: 5px;
}

.card p {
  font-size: 0.8em;
}

a.card,
a.card:hover {
  color: white;
  text-decoration: none;
}

#metro-challenge {
}

/* BROWSE PAGE */

header {
  position: relative;
  z-index: 1;
}

a {
  margin: 0 10px;
}

#navbarNavText {
  justify-content: space-between;
}

/* METRO CHALLENGE (BROWSE PAGE) */

$metroColor1: #00c4b3;
$metroColor2: #050d9e;

.navbar {
  background-color: $metroColor1;
}

span {
  font-weight: bold;
  font-size: 1.2em;
}

.username-metro {
  background-color: #00c4b3;
  color: white;
}

.score-metro {
  background-color: #050d9e;
  color: white;
}

.dropdown-item {
  font-size: 0.7em;
}

/* MAP */

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

/* MEDIA QUERIES */

// Smaller devices (<576px)
@media (max-width: 576px) {
  .container {
    padding: 0 0;
  }
  h1 {
    font-size: 1rem;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .container {
    padding: 0 0;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .container {
    padding: 10px 30px;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .container {
    padding: 10px 60px;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .container {
    padding: 20px 120px;
  }
}

.card-deck {
  padding: 0 30px;
}
