$metroColor1: #00c4b3;
$metroColor2: #050d9e;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font: 16px "Cairo", sans-serif;
}

// .landing-page-background {
//   background-image: url("../images/berlin-capital-city-269874.jpg");
// }

header {
  position: relative;
  z-index: 1;
}

a {
  margin: 0 10px;
}

.jumbotron {
  margin: 20px auto;
  width: 80%;
}

.navbar {
  background-color: $metroColor1;
}

#navbarNavText {
  justify-content: space-between;
  background-color: #e77607;
  opacity: 0.9;
  height: 10px;
  font-size: 0.8rem;
  color: white;
  border-bottom: 3px solid gray;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 0 3vh;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

span {
  font-weight: bold;
  font-size: 1.2em;
}

.username-metro {
  background-color: #00c4b3;
  color: white;
}

.score-metro {
  background-color: #050d9e;
  color: white;
}

header a {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
///////////////////////////

.homepage {
  list-style: none;
}

.container {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
  height: 100%;
}

// LANDING PAGE

.landing-page {
  display: flex;
  flex-direction: column;
  padding-left: 11vh;
  color: black;
}

.landing-page h1,
.landing-page h2 {
  margin-block-end: 0;
  width: 100%;
}

.landing-page h2 {
  background-color: #409cb1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 5px;
}

.join-bait {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

.homepage-form-container {
  width: 100%;
}

.homepage-signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.homepage-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
  width: 100%;
  background: rgba(255, 153, 51, 0.75);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
}

.form-field {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 5vh;
  font-size: 3vh;
}

.form-field input {
  border-radius: 15px;
  width: 98%;
}

.screenshots {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.screenshots .image-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-block-end: 4vh;
}

.screenshots img {
  margin: 2vh;
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

// FORM PAGES (JOIN & LOGIN)
.form-page {
  width: 50%;
  height: 100%;
  margin-left: 0;
  align-items: center;
  justify-content: space-evenly;
}

.form-page button,
.landing-page button {
  height: 7vh;
  margin-top: 3vh;
  width: 30vh;
  font-size: 3vh;
  border-radius: 10px;
  background-color: #409cb1;
  color: white;
  border-color: transparent;
}

#tagline {
  font-size: 7vh;
  height: 20%;
  width: 100%;
  color: #16339d;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media (min-width: 1000px) {
}

@media (min-width: 650px) and (max-width: 999px) {
}

@media (max-width: 649px) {
}
